

<div class="wrapper">
  <div class="filters mt-5">
    <div class="row">
      <div class="form-group col-6">
        <label>
          Country:
        <select
          class="form-control"
          [(ngModel)]="currentCountry"
          (change)="onChangeCountry()"
        >
          <option *ngFor="let country of countryList" [ngValue]="country">{{country}}</option>
        </select>
        </label>
      </div>
    </div>

    <div class="row">
      <div class="form-group col-6">
        <label>
          Category:
        <select
          class="form-control"
          [(ngModel)]="currentCategory"
          (change)="onChangeCategory()"
        >
          <option *ngFor="let category of categoryList" [ngValue]="category">{{category}}</option>
        </select>
        </label>
      </div>
    </div>
  </div>
</div>

<div class="container">

  <div class="card text-center mb-3" *ngFor="let news of newsList">
    <div class="card-header">
      {{ news.source.name }}
    </div>
    <div class="news-preview">
      <img [src]="news.urlToImage" alt="">
    </div>
    <div class="card-body">
      <h6 class="card-title">{{ news.title }}</h6>
      <p class="card-text">{{ news.description }}</p>
      <a href="{{ news.url }}" class="btn btn-primary">Read more</a>
    </div>

    <div class="card-footer">
      {{ news.publishedAt }}
    </div>
  </div>
</div>
